doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inventory Application
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.page-container
      header
        div
          h2
            a(href="/") Inventory Application
          nav
            a(href="/shop") Shop
      main
        block content
    footer
      p lunstia &copy; 2023