doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Inventory Application
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header 
      h1 Inventory Application
      nav
        a(href="#") Test
    main
      block content
    footer 
      p lunstia &copy; 2023