* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}


.page-container {
  position: relative;
  min-height: 100svh;
}

header {
  width: 100%;
  background-color: gray;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 15px;
}

header > div {
  width: max(0px, 1080px);
  max-width: 1080px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

header a {
  text-decoration: none;
  color: white;
}

footer {
  position: absolute;
  bottom: 0;
  height: 50px;
}